.frmTimNgay {
  display: flex;
  align-items: center;
}

.frmTimNgay label {
  margin: 0;
}

.frmText {
  width: 15%;
  margin: 0 10px;
}

.frmToaDo {
  justify-content: center;
  align-items: center;
}

.frmToaDo span {
  font-size: 25px;
}

.toaDo {
  width: 12%;
  margin: 0 5px;
}
